*{
background-color:beige;
color: goldenrod;
align-items: center;
justify-content: center;
text-align: center;
}
button{
    background-color: grey;
    color: white;
}

header{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}
header h1{
    width: 100%;
}

header .timer{
    
    text-align: center;
    width: 100%;
    justify-content: center;
}
main{
    align-items: center;
    margin-top:30px;
}


form {
    justify-content: center;
    align-items: center;
}

#timer{
    font-size: 30px;
    border-radius: 5px;
    border-color:aqua;
}

.option{
    background-color:darkblue;
    border-radius: 5px;
    font:bold;
    justify-content: center;
    border-width: 5px;
    margin-top: 5px;
    
    height: 40px;

}

#btn{
    font-size: 30px;
}